extends layout.pug

block content
  section#content
    h2= text
    if hint
      p
        i Hint: #{hint}
    a(href=`?side=${flip}`)= flip[0].toUpperCase() + flip.slice(1)
    br
    a(href='/cards') Next card